@charset "utf-8";

body {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-size: 14px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.05em;
    margin: 40px 0;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: #000;
}

h3 {
    font-size: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-bottom: 50px;
    font-weight: normal;
}

h3::before {
    content: "KUMONが向き合うもの";
    background-color: #72C9F3;
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
    padding: 8px 15px;

}

.inner {
    max-width: 1260px;
    width: 86.48%;
    margin: 0 auto;
}

.visual {
    background: url(./images/bg_main.png) no-repeat 50% 50%/cover;
    padding: 240px 0 80px 0;
}

.visual dl {
    width: 53.59%;
    background-color: #fff;
    padding: 40px;
}

.visual dt {
    font-size: 18px;
    margin-bottom: 30px;
}

.visual dd {
    font-size: 36px;
}

.discusion {
    margin: 100px 0;
}

.discusion-contents article:nth-child(1) {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #DDDDDD;
}

.discusion-post {
    position: relative;
}

.discusion-post::after {
    content: "公文式教育が提供する価値を、より高めていくための取り組みとは何か？";
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 20px;
}

.discusion-contents article dl {
    display: flex;
}

.discusion-contents article dt {
    font-size: 12px;
    text-align: center;
    padding: 6px 12px;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.discusion-contents article dt+dt {
    margin-left: 10px;
}


footer {
    background-color: #1E1E1E;
    color: #fff;
}