@charset "utf-8";

body {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.05em;
}

h1 a {
    text-decoration: none;
    color: #000;
}

.inner {
    max-width: 1260px;
    width: 86.48%;
    margin: 0 auto;
}

.visual {
    background-image: url(./images/bg_main.png);
    padding: 240px 0 80px 0;
}

.visual dl {
    width: 53.59%;
    background-color: #fff;
    padding: 40px 0;
}

.visual dt {
    font-size: 18px;
    margin-bottom: 30px;
}

.visual dd {
    font-size: 36px;
}