@charset "utf-8";

body {
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
    font-size: 14px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.05em;
}

h1 a {
    text-decoration: none;
    color: #000;
}

h3 {
    font-size: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

h3::before {
    content: "KUMONが向き合うもの";
    background-color: #72C9F3;
    color: #fff;
    margin-bottom: 25px;
}

.inner {
    max-width: 1260px;
    width: 86.48%;
    margin: 0 auto;
}

.visual {
    background-image: url(./images/bg_main.png);
    padding: 240px 0 80px 0;
}

.visual dl {
    width: 53.59%;
    background-color: #fff;
    padding: 40px;
}

.visual dt {
    font-size: 18px;
    margin-bottom: 30px;
}

.visual dd {
    font-size: 36px;
}

.discusion-contents article img {
    position: relative;
}

.discusion-contents article img::after {
    content: "公文式教育が提供する価値を、より高めていくための取り組みとは何か？";
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 20px;
}

.discusion-contents article dl {
    display: flex;
}

.discusion-contents article dt {
    font-size: 12px;
    width: 125px;
    text-align: center;
    padding: 6px 12px;
}

.discusion-contents article dt+dt {
    margin-left: 10px;
}